includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
        - tests/

    level: 7

    parseModelCastsMethod: true

services:
    -
        class: Tests\PHPStan\PestClosureThisExtension
        tags:
            - phpstan.functionParameterClosureThisExtension
    -
        class: Tests\PHPStan\ArtisanPendingCommandExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
