---
interface Props {
  tags: string[];
  activeTag?: string;
}

const { tags, activeTag } = Astro.props;
---

<ul class="tag-list">
  {tags.map((tag) => {
    const isActive = tag === activeTag;
    return (
      <li class="tag-list__item">
        <a
          href={`/tags/${tag}/`}
          aria-current={isActive ? 'page' : undefined}
        >#{tag}</a>
      </li>
    );
  })}
</ul>
